# global Values
## Add run-time labels
global:
  type: softwares
  workspace_id: nl123
  user_name: nlu
  user_id: nlu-123

## ------------------------------------------------------
## Zookeeper
## ------------------------------------------------------
cp-zookeeper:
  enabled: true
  servers: 3
  image: dr.neuralcompany.team/public_utils/nl-cp-zookeeper
  imageTag: 6.0.1
  ## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
  ## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  imagePullSecrets:
  #  - name: "regcred"
  heapOptions: "-Xms512M -Xmx512M"



  commonLabels:
    app.kubernetes.io/name: kafka
    app.kubernetes.io/instance: neuronlabs-kafka
    app.kubernetes.io/version: 2.6.0
    app.kubernetes.io/managed-by: helm-charts
    app.kubernetes.io/contact: rajat
    app.kubernetes.io/workload: apache-kafka
    app.kubernetes.io/env: prod
    app.kubernetes.io/tier: data-streaming
    app.kubernetes.io/project: neuronlabs
    app.kubernetes.io/requested-by: na

  persistence:
    enabled: true
    ## The size of the PersistentVolume to allocate to each Zookeeper Pod in the StatefulSet. For
    ## production servers this number should likely be much larger.
    ##
    ## Size for Data dir, where ZooKeeper will store the in-memory database snapshots.
    dataDirSize: 30Gi
    dataDirStorageClass: ""
    ## Size for data log dir, which is a dedicated log device to be used, and helps avoid competition between logging and snaphots.
    dataLogDirSize: 30Gi
    dataLogDirStorageClass: ""

  # TODO: find correct security context for user in this zk-image
  securityContext:
    runAsUser: 0

  resources:
  ## If you do want to specify resources, uncomment the following lines, adjust them as necessary,
  ## and remove the curly braces after 'resources:'
    limits:
     cpu: 2
     memory: 4Gi
    requests:
     cpu: 250m
     memory: 256Mi

## ------------------------------------------------------
## Kafka
## ------------------------------------------------------
cp-kafka:
  enabled: true
  brokers: 3
  image: dr.neuralcompany.team/public_utils/nl-cp-kafka
  imageTag: 6.0.1
  ## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
  ## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  imagePullSecrets:
  #  - name: "regcred"
  heapOptions: "-Xms512M -Xmx512M"

  nodeport:
    enabled: true
    servicePort: 19092
    #firstListenerPort: 31090

  configurationOverrides:
    "offsets.topic.replication.factor": "3"
    # "default.replication.factor": 3
    # "min.insync.replicas": 2
    # "auto.create.topics.enable": false
    "log.retention.hours": 1
    ## Options required for external access via NodePort
    ## ref:
    ## - http://kafka.apache.org/documentation/#security_configbroker
    ## - https://cwiki.apache.org/confluence/display/KAFKA/KIP-103%3A+Separation+of+Internal+and+External+traffic
    ##
    ## Advertised listeners will use the firstListenerPort value as it's default unless overridden here.
    ## Setting "advertised.listeners" here appends to "PLAINTEXT://${POD_IP}:9092,"
    "advertised.listeners": EXTERNAL://172.16.100.107:$((31090 + ${KAFKA_BROKER_ID}))
    "listener.security.protocol.map": PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
  commonLabels:
    app.kubernetes.io/name: kafka
    app.kubernetes.io/instance: neuronlabs-kafka
    app.kubernetes.io/version: 2.6.0
    app.kubernetes.io/managed-by: helm-charts
    app.kubernetes.io/contact: rajat
    app.kubernetes.io/workload: apache-kafka
    app.kubernetes.io/env: prod
    app.kubernetes.io/tier: data-streaming
    app.kubernetes.io/project: neuronlabs

  persistence:
    enabled: true
    storageClass: ""
    size: 5Gi
    disksPerBroker: 1
  resources:
  ## If you do want to specify resources, uncomment the following lines, adjust them as necessary,
  ## and remove the curly braces after 'resources:'
    limits:
     cpu: 1
     memory: 2Gi
    requests:
     cpu: 500m
     memory: 256Mi
  securityContext:
    runAsUser: 0

## ------------------------------------------------------
## Schema Registry
## ------------------------------------------------------
cp-schema-registry:
  enabled: false
  image: dr.neuralcompany.team/public_utils/nl-cp-schema-registry
  imageTag: 6.0.1
  ## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
  ## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  imagePullSecrets:
  #  - name: "regcred"
  heapOptions: "-Xms512M -Xmx512M"
  resources:
  ## If you do want to specify resources, uncomment the following lines, adjust them as necessary,
  ## and remove the curly braces after 'resources:'
   limits:
    cpu: 500m
    memory: 512Mi
   requests:
    cpu: 100m
    memory: 128Mi

## ------------------------------------------------------
## REST Proxy
## ------------------------------------------------------
cp-kafka-rest:
  enabled: false
  image: dr.neuralcompany.team/public_utils/nl-cp-kafka-rest
  imageTag: 6.0.1
  ## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
  ## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  imagePullSecrets:
  #  - name: "regcred"
  heapOptions: "-Xms512M -Xmx512M"
  resources:
  ## If you do want to specify resources, uncomment the following lines, adjust them as necessary,
  ## and remove the curly braces after 'resources:'
   limits:
    cpu: 500m
    memory: 512Mi
   requests:
    cpu: 100m
    memory: 128Mi

## ------------------------------------------------------
## Kafka Connect
## ------------------------------------------------------
cp-kafka-connect:
  enabled: false
  image: dr.neuralcompany.team/public_utils/nl-cp-kafka-connect
  imageTag: 6.0.1
  ## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
  ## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  imagePullSecrets:
  #  - name: "regcred"
  heapOptions: "-Xms512M -Xmx512M"
  resources:
  ## If you do want to specify resources, uncomment the following lines, adjust them as necessary,
  ## and remove the curly braces after 'resources:'
   limits:
    cpu: 500m
    memory: 512Mi
   requests:
    cpu: 100m
    memory: 128Mi

## ------------------------------------------------------
## KSQL Server
## ------------------------------------------------------
cp-ksql-server:
  enabled: false
  image: dr.neuralcompany.team/public_utils/nl-cp-ksqldb-server
  imageTag: 6.0.1
  ## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
  ## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  imagePullSecrets:
  #  - name: "regcred"
  heapOptions: "-Xms512M -Xmx512M"
  ksql:
    headless: false

## ------------------------------------------------------
## Control Center
## ------------------------------------------------------
cp-control-center:
  enabled: false
  image: dr.neuralcompany.team/public_utils/nl-cp-control-center
  imageTag: 6.0.1
  ## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
  ## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
  imagePullSecrets:
  #  - name: "regcred"
  heapOptions: "-Xms512M -Xmx512M"
  resources:
  ## If you do want to specify resources, uncomment the following lines, adjust them as necessary,
  ## and remove the curly braces after 'resources:'
   limits:
    cpu: 500m
    memory: 512Mi
   requests:
    cpu: 100m
    memory: 128Mi
