{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-jupyter-ing
  labels:
   {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
{{- end }}
  # tls:
  #   - hosts:
  #     - {{ .Release.Name }}.{{ .Values.ingress.domainName}}
  #     secretName: {{ .Values.ingress.secretName }}
  rules:
  - host: {{ .Release.Name }}.{{ .Values.ingress.domainName}}
    http:
      paths:
      - path: {{ .Values.ingress.path }}
        backend:
          serviceName: {{ .Release.Name }}-jupyter
          servicePort: {{ .Values.service.port }}
{{- end }}
